<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:reg="http://www.dangdang.com/schema/ddframe/reg" 
    xmlns:job="http://www.dangdang.com/schema/ddframe/job" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans.xsd 
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd 
                        http://www.dangdang.com/schema/ddframe/reg 
                        http://www.dangdang.com/schema/ddframe/reg/reg.xsd 
                        http://www.dangdang.com/schema/ddframe/job 
                        http://www.dangdang.com/schema/ddframe/job/job.xsd 
                        ">
    <context:component-scan base-package="com.al.crm.elastic.script" />

	<!--配置作业注册中心 -->
	<reg:zookeeper id="regCenter" server-lists="127.0.0.1:2181"
		digest="ctc" namespace="ctc" base-sleep-time-milliseconds="1000"
		max-sleep-time-milliseconds="3000" max-retries="3" />

	<!-- 配置脚本作业-->
	<job:script id="shell-xiewen-test" registry-center-ref="regCenter"
		script-command-line="/usr/tomcat/shell/demo.sh" sharding-total-count="3"
		cron="0 0 0/2 * * ?" sharding-item-parameters="0=HB,1=YN,2=GZ"
		description="shell test " overwrite="true" />
</beans>
